$black: #161514;
$blue: #473de7;
$blue-light: #708bff;
$blue-super-light: #cadffe;
$blue-silver: #d1e3fe;
$background: #edf5fe;
$red: #c74b4b;

$green: #02ba91;
$gray: #6c7ba0;
$selver: #edf5fe;

$gradient-selver-blue: linear-gradient( 90deg, rgb(169,203,255) 0%, rgb(224,236,254) 100%);
$gradient-blue-dark-blue: linear-gradient( 90deg, rgb(10,78,178) 0%, rgb(20,102,222) 100%);

$font-black: $black;
$font-blue: $blue;
$font-green: $green;
$font-gray: $gray;



